<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= [
      current_page.data.title || yield_content(:title),
      "The Dvorak Gamer Index"
    ].compact.join(" – ") %></title>
    <%= stylesheet_link_tag "site" %>
    <%= stylesheet_link_tag "os" %>
  </head>
  <body>
    <div id="header">
      <img src="/images/keyboard.png"/>
      <div id="hdbar">
        <div id="hdtitle">The Dvorak Gamer Index</div>
        <div id="hdlinks">
          <%= link_to 'The Index', '/' %>
          <%= link_to 'About', '/about.html' %>
        </div>
      </div>
    </div>
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
